@import "tailwindcss";

@layer base {
  :root {
    color-scheme: only light;
    --background: #ffffff;
    --foreground: #171717;
  }

  html {
    background-color: var(--background);
    color: var(--foreground);
  }

  body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
  }

  a {
    color: var(--foreground);
    text-decoration: none;
  }

  /* Estilos para botones con fondo azul personalizado */
  .btn-primary {
    background-color: #193cb8;
    color: white;
    transition: background-color 0.3s ease;
  }

  .btn-primary:hover,
  .btn-primary:focus {
    background-color: #142a86; /* un azul más oscuro para hover */
    outline: none;
  }

  /* Para botón flotante (carrito) */
  .btn-cart {
    background-color: #193cb8;
    color: white;
    transition: background-color 0.3s ease;
  }

  .btn-cart:hover,
  .btn-cart:focus {
    background-color: #142a86;
    outline: none;
  }
}
